# History files
.Rhistory
.Rapp.history

#Input data
*.csv

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

#id lists
coreExome_cim_selection.txt
coreExome_nzcau_selection.txt
coreExome_nzm_selection.txt
coreExome_ton_selection.txt
coreExome_sam_selection.txt

# html files
*.html
